* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #E2E4E5;
    font-family: "Verdana", Tahoma, sans-serif;
}

html {
    background-color: black;
}

header {
    padding: 50px;
    /* background-image: url("Images/Header.jpg"); */
    /* background-size: cover; */
    /* background-position: bottom; */
    background-color: black;
    border-bottom: 5px solid #B7B8B8;
}

h1 {
    display: inline-block;
    padding: 10px;
    font-size: 38px;
    box-shadow: 10px 10px 5px #7CA2D6;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 40%;
}

h1 p {
    font-size: 14px;
    font-style: italic;
    color: #B7B8B8;
}

nav {
    font-size: 22px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    margin-top: -50px;
  }

  li {
    display: inline-block;
    border-radius: 5px;
    border: 2px solid #E2E4E5;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #7CA2D6;
    padding: 5px;
    margin-left: 5px;
  }

a {
    text-decoration: none;
    padding: 30px;
}

li:hover {
    background-color: #E2E4E5;
}

a:hover {
    color: black;
}

section {
    position: relative;
}
.hero {
    height: 300px;
    width: 100%;
    background-image: url(Images/Hero2.jpg);
    background-size: cover;
    background-position: center;
    border-bottom: 5px solid #B7B8B8;
}

.me {
    margin: 10px 10px;
    height: 250px;
    width: 15%;
    border: 2px solid #E2E4E5;
    border-radius: 50%;
    background-image: url(Images/Me.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 5%;
    left: 5%;

}

section h2 {
    position: absolute;
    bottom: 75%;
    left: 22%;
    
}

aside {
    float: left;
    flex-wrap: wrap;
}

.aside-item {
    font-size: 48px;
}

div {
    margin: 50px 10px;
    padding: 10px;
    border-right: 2px solid #7CA2D6;
}

@media screen and (max-width: 768px) {
    ul{
        flex-direction:row;
    }
}